# Ignore Python virtual environment
rfcenv/
vendor/
core/__pycache__/
utils/__pycache__/
composer.lock
composer.json

# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyc
*.pyo

# OS files
.DS_Store
Thumbs.db

# Others
*.swp
*.swo
